<div class="row">
	<div class="small-12 center small-centered columns">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		<h1 class="name">Photo Gallery</h1>
	</div>
</div>

</br></br></br>

<div class="row">
	<div class="large-12 small-centered columns">
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Christmas Headbands are Here!</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "nutcracker.jpg", id: 'gallary' %>CH1
				<%= image_tag "christmas1.jpeg", id: 'gallary' %>CH2
				<%= image_tag "christmas2.jpeg", id: 'gallary' %>CH3
				<%= image_tag "christmas3.jpeg", id: 'gallary' %>CH4
				<%= image_tag "christmas4.jpeg", id: 'gallary' %>CH5
				<%= image_tag "christmas4.jpeg", id: 'gallary' %>CH6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Butterfly Headbands</h2>
		<div class="stylegallary">
			<h4><%= image_tag "whiteandpinkbutterfly.jpg", id: 'gallary' %>BH1
				<%= image_tag "whiteandbluebutterfly.jpg", id: 'gallary' %>BH2
				<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>BH3
				<%= image_tag "pink_butterfly_with_ribbons.jpg", id: 'gallary' %>BH4
				<%= image_tag "blueshimmer_butterfly.jpeg", id: 'gallary' %>BH5
				<%= image_tag "greenshimmer_butterfly.jpeg", id: 'gallary' %>BH6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Flower Headbands</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "red_and_purple_flower.jpeg", id: 'gallary' %>FH1
				<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>FH2
				<%= image_tag "pinkrosette.jpg", id: 'gallary' %>FH3
				<%= image_tag "pinkish_flower.jpg", id: 'gallary' %>FH4
				<%= image_tag "white_flower_on_blue.jpg", id: 'gallary' %>FH5
				<%= image_tag "purple_flower_sparkle.jpg", id: 'gallary' %>FH6
				<%= image_tag "pink_dye_flower.jpg", id: 'gallary' %>FH7
				<%= image_tag "blue_flower_tulle.jpg", id: 'gallary' %>FH8
				<%= image_tag "bluenwhiteflower.jpg", id: 'gallary' %>FH8			
				<%= image_tag "pinkflower_headband.jpeg", id: 'gallary' %>FH9
				<%= image_tag "redandpurpleflower.jpg", id: 'gallary' %>FH10
				
				
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Easter Headbands</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "purplechick.jpg", id: 'gallary' %>EH1
				<%= image_tag "redsparklebunny.jpg", id: 'gallary' %>EH2
				<%= image_tag "greenchick.jpg", id: 'gallary' %>EH3
				<%= image_tag "blueshimmerbunny.jpg", id: 'gallary' %>EH4
				<%= image_tag "green_bunny_shimmer.jpg", id: 'gallary' %>EH5
				<%= image_tag "blue_bun_shimmer.jpg", id: 'gallary' %>EH6
				<%= image_tag "pinknpurplebunny.jpg", id: 'gallary' %>EH7
				<%= image_tag "red_bunny_on_white.jpg", id: 'gallary' %>EH8
				<%= image_tag "bluesparklebunny.jpg", id: 'gallary' %>EH9
				<%= image_tag "bluebunny.jpg", id: 'gallary' %>EH10
				<%= image_tag "pink_chick.jpg", id: 'gallary' %>EH11
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Barrettes</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "green_flower_barrette.jpeg", id: 'gallary' %>B1
					<%= image_tag "twin_bows.jpg", id: 'gallary' %>B2
					<%= image_tag "purple_heart.jpg", id: 'gallary' %>B3
				</div>
				<div>
					<%= image_tag "orange_heart.jpg", id: 'gallary' %>B4
					<%= image_tag "purple_flower_tulle.jpg", id: 'gallary' %>B5
					<%= image_tag "orange_butterfly.jpg", id: 'gallary' %>B6
				</div>
				<div>
					<%= image_tag "orange_heart.jpg", id: 'gallary' %>B4
					<%= image_tag "purple_flower_tulle.jpg", id: 'gallary' %>B5
					<%= image_tag "orange_butterfly.jpg", id: 'gallary' %>B6
				</div>
				<div>
					<%= image_tag "purple_butterfly.jpg", id: 'gallary' %>B7
					<%= image_tag "pink_butterfly.jpg", id: 'gallary' %>B8
					<%= image_tag "blue_butterfly_barrette.jpg", id: 'gallary' %>B9
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Special Orders</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "specialorder2.jpg", id: 'gallary' %>SO1
				<%= image_tag "special_order1.jpg", id: 'gallary' %>SO2
				<%= image_tag "pink_flower_special.jpeg", id: 'gallary' %>SO3
				<%= image_tag "baseball_special.jpeg", id: 'gallary' %>SO4
				<%= image_tag "rose_special.jpeg", id: 'gallary' %>SO5
				<%= image_tag "blue_special.jpeg", id: 'gallary' %>SO6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Ballet Bags</h2>
		<div class="stylegallary">
			<h4><%= image_tag "ballet_bags.jpeg", id: 'gallary' %>BB1
			<%= image_tag "hawiian_bags.jpg", id: 'gallary' %>BB2
			<%= image_tag "solid_ballet_bags.jpg", id: 'gallary' %>BB3
			<%= image_tag "dance_bags.jpeg", id: 'gallary' %>BB4</h4>
		</div>
	</div>
</div>