<div class="row">
	<div class="small-12 center columns">
		<h1 class="name">Photo Gallary</h1>
	</div>
</div>

</br></br></br>

<div class="row">
	<div class="large-12 columns">
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
</div>
<div class="row">
	<h2>Butterfly Headbands</h2>
	<div class="large-12 columns">
		<div class="stylegallary">
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>
			<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>
			<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>
		</div>
	</div>
</div>
<div class="row">
	<h2>Flower Headbands</h2>
	<div class="large-12 columns">
		<div class="stylegallary">
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>
			<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>
			<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>
		</div>
	</div>
</div>
<div class="row">
	<h2>Bunny Headbands</h2>
	<div class="large-12 columns">
		<div class="stylegallary">
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>
			<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>
			<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>
		</div>
	</div>
</div>
<div class="row">
	<h2>Barrets</h2>
	<div class="large-12 columns">
		<div class="stylegallary">
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>
			<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>
			<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>
		</div>
	</div>
</div>
<div class="row">
	<h2>Ballet Bags</h2>
	<div class="large-12 columns">
		<div class="stylegallary">
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>
			<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>
			<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>
		</div>
	</div>
</div>