<div class="row">
	<div class="small-12 center small-centered columns">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		<h1 class="name">Photo Gallery</h1>
	</div>
</div>

</br></br></br>

<div class="row">
	<div class="large-12 small-centered columns">
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
</div>

<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Butterfly Headbands</h2>
		<div class="stylegallary">
			<h4><%= image_tag "whiteandpinkbutterfly.jpg", id: 'gallary' %>BH1
				<%= image_tag "bluebutterfly.jpg", id: 'gallary' %>BH2
				<%= image_tag "whiteandbluebutterfly.jpg", id: 'gallary' %>BH3
				<%= image_tag "blueshimmer_butterfly.jpeg", id: 'gallary' %>BH4
				<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>BH5
				<%= image_tag "greenshimmer_butterfly.jpeg", id: 'gallary' %>BH6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Flower Headbands</h2>
		<div class="stylegallary">
			<h4>
			<%= image_tag "redandpurpleflower.jpg", id: 'gallary' %>FH1
			<%= image_tag "blueflower_headband.jpeg", id: 'gallary' %>FH2
			<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>FH3
			<%= image_tag "blueflower_headband2.jpeg", id: 'gallary' %>FH4
			<%= image_tag "pinkrosette.jpg", id: 'gallary' %>FH5
			<%= image_tag "pinkflower_headband.jpeg", id: 'gallary' %>FH6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Easter Headbands</h2>
		<div class="stylegallary">
			<h4><%= image_tag "redsparklebunny.jpg", id: 'gallary' %>FH1
			<%= image_tag "purplechick.jpg", id: 'gallary' %>EH2
			<%= image_tag "greenchick.jpg", id: 'gallary' %>EH3
			
			<%= image_tag "blueshimmerbunny.jpg", id: 'gallary' %>EH4
			<%= image_tag "bluesparklebunny.jpg", id: 'gallary' %>EH5
			<%= image_tag "bluebunny.jpg", id: 'gallary' %>EH6</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Barrettes</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "purple_flower_barrette.jpeg", id: 'gallary' %>B1
				<%= image_tag "heart_barrette.jpeg", id: 'gallary' %>B2
				<%= image_tag "blue_butterfly_barrette.jpeg", id: 'gallary' %>B3
				<%= image_tag "pink_butterfly_barrette.jpeg", id: 'gallary' %>B4
				<%= image_tag "green_flower_barrette.jpeg", id: 'gallary' %>B5
				<%= image_tag "twin_barrettes.jpeg", id: 'gallary' %>B6
				<%= image_tag "orange_butterfly_barrette.jpeg", id: 'gallary' %>B6
				<%= image_tag "purple_butterfly_barrette.jpeg", id: 'gallary' %>B6
				<%= image_tag "purple_heart_barrette.jpeg", id: 'gallary' %>B6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Special Orders</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "special_order2.jpeg", id: 'gallary' %>SO1
				<%= image_tag "special_order1.jpeg", id: 'gallary' %>SO2
				<%= image_tag "pink_flower_special.jpeg", id: 'gallary' %>SO3
				<%= image_tag "baseball_special.jpeg", id: 'gallary' %>SO4
				<%= image_tag "rose_special.jpeg", id: 'gallary' %>SO5
				<%= image_tag "blue_special.jpeg", id: 'gallary' %>SO6
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Ballet Bags</h2>
		<div class="stylegallary">
			<h4><%= image_tag "ballet_bags.jpeg", id: 'gallary' %>BB1
			<%= image_tag "hawiian_bags.jpg", id: 'gallary' %>BB2
			<%= image_tag "solid_ballet_bags.jpg", id: 'gallary' %>BB3</h4>
		</div>
	</div>
</div>