</br></br></br></br></br></br>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Christmas Headbands are Here!</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "nutcracker.jpg", id: 'gallary' %>CH1
					<%= image_tag "snowflake_flower.jpg", id: 'gallary' %>CH2
					<%= image_tag "snowflake_blue.jpg", id: 'gallary' %>CH3
					
				</div>
				<div>
					<%= image_tag "snowman.jpg", id: 'gallary' %>CH4
					<%= image_tag "nutcracker1.jpg", id: 'gallary' %>CH5
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Butterfly Headbands</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "whiteandpinkbutterfly.jpg", id: 'gallary' %>BH1
					<%= image_tag "whiteandbluebutterfly.jpg", id: 'gallary' %>BH2
					<%= image_tag "purpleandyellowbutterfly.jpg", id: 'gallary' %>BH3
				</div>
				<div>
					<%= image_tag "orangebutterfly.jpg", id: 'gallary' %>BH4
					<%= image_tag "blueshimmer_buttefly.jpg", id: 'gallary' %>BH5
					<%= image_tag "greenshimmer_butterfly.jpg", id: 'gallary' %>BH6
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Flower Headbands</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "pinksparkleflower.jpg", id: 'gallary' %>FH1
					<%= image_tag "purplefloweronpurple.jpg", id: 'gallary' %>FH2
					<%= image_tag "pinkrosette.jpg", id: 'gallary' %>FH3
				</div>
				<div>
					<%= image_tag "pinkish_flower.jpg", id: 'gallary' %>FH4
					<%= image_tag "purple_flower_sparkle.jpg", id: 'gallary' %>FH5
					<%= image_tag "redandpurpleflower.jpg", id: 'gallary' %>FH6
				</div>
				<div>
					<%= image_tag "pink_dye_flower.jpg", id: 'gallary' %>FH7
					<%= image_tag "blue_flower_tulle.jpg", id: 'gallary' %>FH8
					<%= image_tag "bluenwhiteflower.jpg", id: 'gallary' %>FH9		
				</div>
				<div>
					
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Easter Headbands</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "purplechick.jpg", id: 'gallary' %>EH1
					<%= image_tag "redsparklebunny.jpg", id: 'gallary' %>EH2
					<%= image_tag "greenchick.jpg", id: 'gallary' %>EH3
				</div>
				<div>
					<%= image_tag "blueshimmerbunny.jpg", id: 'gallary' %>EH4
					<%= image_tag "green_bunny_shimmer.jpg", id: 'gallary' %>EH5
					<%= image_tag "bluebunny.jpg", id: 'gallary' %>EH6
				</div>
				<div>
					<%= image_tag "pink_chick.jpg", id: 'gallary' %>EH7
					<%= image_tag "red_bunny_on_white.jpg", id: 'gallary' %>EH8
					<%= image_tag "bluesparklebunny.jpg", id: 'gallary' %>EH9
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Barrettes</h2>
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "green_flower_barrette.jpeg", id: 'gallary' %>B1
					<%= image_tag "twin_bows.jpg", id: 'gallary' %>B2
					<%= image_tag "purple_heart.jpg", id: 'gallary' %>B3
				</div>
				<div>
					<%= image_tag "orange_heart.jpg", id: 'gallary' %>B4
					<%= image_tag "purple_flower_tulle.jpg", id: 'gallary' %>B5
					<%= image_tag "orange_butterfly.jpg", id: 'gallary' %>B6
				</div>
				<div>
					<%= image_tag "purple_butterfly.jpg", id: 'gallary' %>B7
					<%= image_tag "pink_butterfly.jpg", id: 'gallary' %>B8
					<%= image_tag "blue_butterfly_barrette.jpg", id: 'gallary' %>B9
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Special Orders</h2>
		<div class="stylegallary">
			<h4>
			<div>
				<%= image_tag "specialorder2.jpg", id: 'gallary' %>SO1
				<%= image_tag "special_order1.jpg", id: 'gallary' %>SO2
				<%= image_tag "pink_flower_special.jpg", id: 'gallary' %>SO3
			</div>
			<div>
				<%= image_tag "baseball_special.jpg", id: 'gallary' %>SO4
				<%= image_tag "rose_special.jpg", id: 'gallary' %>SO5
				<%= image_tag "blue_special.jpg", id: 'gallary' %>SO6
			</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<h2>Ballet Bags</h2>
		<div class="stylegallary">
			<h4>
				<%= image_tag "ballet_bags.jpeg", id: 'gallary' %>BB1
				<%= image_tag "hawiian_bags.jpg", id: 'gallary' %>BB2
				<%= image_tag "solid_ballet_bags.jpg", id: 'gallary' %>BB3
				<%= image_tag "dance_bags.jpeg", id: 'gallary' %>BB4
			</h4>
		</div>
	</div>
</div>